/* font-family: 'ADLaM Display'; */
@import url('https://fonts.googleapis.com/css2?family=ADLaM+Display&display=swap');
/* font-family: 'Courier Prime', monospace; */
@import url('https://fonts.googleapis.com/css2?family=Courier+Prime&display=swap');

html,
body {
    /* Sets the website to always occupy 100% of the height of the viewport */
    height: 100%;
}

body {
    /* Sets the website to Flexbox */
    display: flex;
    flex-direction: column;
    margin: 0;

    /* Sets the default font settings */
    font-family: 'Courier Prime', monospace;
    color: #FFFFFF;

    /* Defines the gradient background of the website */
    background: linear-gradient(180deg, #535E64 9.9%, rgba(83, 94, 100, 0.00) 100%);
    background-attachment: fixed;
}

/* Styling for the logo-text */
.main-header {
    flex: 0 1 auto;
}

.logo-text {
    padding: 10px 30px;

    background: white;
    color: black;
    text-align: left;
    font-family: 'ADLaM Display';
    font-size: 40px;

    transition: color 0.3s ease, background-color 0.3s ease;
}

.logo-link {
    text-decoration: none;
}

.logo-text:hover {
    color: #3498db;
    background-color: white;
}

/* Styling for the Login and Login button */
.buttons-container {
    flex: 0 1 auto;
    display: flex;
    justify-content: flex-end;
    flex-direction: row;
    margin-bottom: 25px;
    margin-top: 7px;
}

#loginButton {
    outline: none;
    border-style: none;
    border-radius: 25px;
    padding: 10px 20px;
    width: auto;
    cursor: pointer;

    background: white;
    color: black;
    text-align: center;
    font-family: 'Courier Prime', monospace;
    font-size: 16px;
    font-weight: 500;

    margin-right: 20px;
}

/* Add hover effect for the buttons */
#loginButton:hover {
    background: #3498db;
    color: #fff;
}

.main-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    align-content: center;
    flex-wrap: wrap;
    gap: 5%;
    padding: 2% 10%;
}

.info-section {
    width: 500px;
    flex-grow: 0;
    flex-shrink: 0;
    flex-basis: 500px;
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
}

.card-inputs {
    display: flex;
    flex-direction: column;
    width: 640px;
    gap: 20px;
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
}

.input-columns {
    display: flex;
    flex-direction: row;
    gap: 10%;
}

.column {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 290px;
}

h1 {
    font-size: 3em;
    margin-bottom: 20px;
}

h2 {
    font-size: 2.2em;
    margin-bottom: 20px;
}

input,
textarea {
    width: 100%;
    padding: 15px;
    font-size: 1.2em;
    border-radius: 15px;
    border: 1px solid #ccc;
    background: #FFFFFF;
    color: #000;
}

textarea {
    height: 100px;
    resize: vertical;
    width: 640px;
    flex-grow: 0;
    flex-shrink: 0;
    flex-basis: 640px
}

#submit {
    width: 180px;
    height: 50px;
    margin-top: 20px;
    background-color: #007BFF;
    color: #FFFFFF;
    font-size: 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.2s;
    display: block;
}

#submit:hover {
    background: #3498db;
    color: #fff;
}

.generate-card-btn {
    margin-top: 30px;
    padding: 10px 50px;
    border: none;
    border-radius: 10px;
    background-color: #007BFF;
    color: #FFFFFF;
    font-size: 1em;
    cursor: pointer;
}

.generate-card-btn:hover {
    background-color: #0056b3;
}