/* font-family: 'ADLaM Display'; */
@import url('https://fonts.googleapis.com/css2?family=ADLaM+Display&display=swap');
/* font-family: 'Inter', sans-serif; */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

body {
    font-family: 'Inter', sans-serif;
    background: linear-gradient(180deg, #535E64 9.9%, rgba(83, 94, 100, 0.00) 100%);
    background-attachment: fixed;
    color: #FFFFFF;
    padding: 2% 10%;
}

.main-container {
    display: flex;
    flex-direction: row;
    justify-content: flex-start; 
    align-items: flex-start;
    width: 100%;
    gap: 5%;    
}

.info-section {
    flex: 1;
    margin-left: 0%;
}

.card-inputs {
    flex: 2;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.input-columns {
    display: flex;
    flex-direction: row;
    gap: 10%;
}

.column {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

h1 {
    font-size: 3em;
    margin-bottom: 20px;
}

h2 {
    font-size: 2.2em;
    margin-bottom: 20px;
}

input, textarea {
    width: 100%;
    padding: 15px;
    font-size: 1.2em;
    border-radius: 15px;
    border: 1px solid #ccc;  
    background: #FFFFFF; 
    color: #000;
}

input,
textarea {
    width: 100%;
    padding: 15px;
    font-size: 1em;
    border-radius: 15px;
    border: 1px solid #ccc;
    background: #FFFFFF;
    color: #000;
}

textarea {
    height: 100px;
    resize: vertical;
}
.button {
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    height: 50px;
    margin-top: 20px;
    background-color: #007BFF;
    color: #FFFFFF;
    font-size: 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.2s;
    display: block;
}

.generate-card-btn {
    margin-top: 30px;
    padding: 10px 50px;
    border: none;
    border-radius: 10px;
    background-color: #007BFF;
    color: #FFFFFF;
    font-size: 1em;
    cursor: pointer;
}

.generate-card-btn:hover {
    background-color: #0056b3;
}