/* font-family: 'ADLaM Display'; */
@import url('https://fonts.googleapis.com/css2?family=ADLaM+Display&display=swap');
/* font-family: 'Courier Prime', monospace; */
@import url('https://fonts.googleapis.com/css2?family=Courier+Prime&display=swap');
html, body {
    /* Sets the website to always occupy 100% of the height of the viewport */
    height: 100%;
}

body {
    /* Sets the website to Flexbox */
    display: flex;
    flex-direction: column;
    margin: 0;

    /* Sets the default font-size of the website */
    font-size: 20px;

    /* Defines the gradient background of the website */
    background: linear-gradient(180deg, #535E64 9.9%, rgba(83, 94, 100, 0.00) 100%);
    background-attachment: fixed;
}
