/* font-family: 'ADLaM Display'; */
@import url('https://fonts.googleapis.com/css2?family=ADLaM+Display&display=swap');
/* font-family: 'Courier Prime', monospace; */
@import url('https://fonts.googleapis.com/css2?family=Courier+Prime&display=swap');

.faq-content {
    padding: 20px;
}

.faq-section h2 {
    text-align: center;
    font-family: 'ADLaM Display';
    font-size: 32px;
    margin-bottom: 20px;
}

.faq-item {
    margin-bottom: 20px;
}

.question {
    font-weight: bold;
    font-size: 20px;
}

.answer {
    margin-top: 10px;
    font-size: 18px;
}