/* font-family: 'ADLaM Display'; */
@import url('https://fonts.googleapis.com/css2?family=ADLaM+Display&display=swap');
/* font-family: 'Courier Prime', monospace; */
@import url('https://fonts.googleapis.com/css2?family=Courier+Prime&display=swap');

.faq-content {
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
    margin: 20px 50px 0px;
    padding: 30px;
    background-color: #2A292C;
    height: 100%;
    opacity: 0.75;
    color: rgba(255, 255, 255, 0.842);
}

.faq-section h2 {
    text-align: center;
    font-family: 'ADLaM Display';
    font-size: 32px;
    margin-bottom: 3%;
}

.faq-item {
    margin-bottom: 20px;
    font-family: Arial;
}

.question {
    font-weight: bold;
    font-size: 20px;
}

.answer {
    margin: 1% 0px 2%;
    font-size: 18px;
}